<div id="f_ler_edital" style="text-align:center">
   <div style="font-family:Arial;font-weight:bold" align="center">
      <font style="font-size:14px">ESTUDO PRELIMINAR</font>
   </div>
   <div style="margin: 16px">
      Caro estudante, antes de preencher o formulário preliminar, você deverá ler o edital no link:<a target ="_blank" href="https://www.saeweb.unb.br/saeweb/fronteira/editais/EditalAtual.pdf"> Edital</a>
   </div>
   <div style="margin: 8px">
      <input id="f_aceite" type="checkbox" name="f_aceite" /><label for="f_aceite">Declaro que li o Edital e concordo com os termos nele contidos.</label>
   </div>
   <input type="button" name="bntContinuar" value="Continuar" id="f_bntContinuar" style="width:84px;" onclick="controleDeclaraLeuEdital()" />
</div>
