{% if lazy %}
	<table id="{{ field.id }}" class="display" data-type="grid" data-listener="{{ field.listener }}" data-lazy data-field="{{ field.field }}" >
		<tr><td>Carregando dados, aguarde...</td></tr>
	</table>
{% else %}
	{% load fpc_tags %}
	<table id="{{ field.id }}" class="display" data-type="grid" data-listener="{{ field.listener }}" data-field="{{ field.field }}"  >
		<thead>
			<tr>
				<th style="width:5px" >Seleção</th>
				{% for field in form.campos_grid_pesquisa %}
					<th style="width:{{ field.widthGrid }}px">{{ field.verbose_name }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
			<tr>
				<td rowspan="1" colspan="{{ form.campos_grid_pesquisa|length|fpc_inc }}">&nbsp; </td>
			</tr>
		</tfoot>
	</table>
	
	<script async="async">
		var tbl_itens = $(document.getElementById("{{ field.id }}"));
		fpcDataTable.createDataTable(
				tbl = tbl_itens,
				url = "/fpc.views.fpc_pesquisar?ts={{ ts_owner.id }}&field='{{ field.field }}'&filtroIds=''&isconsulta=false",
				is_consulta = false,
				row = function( row, data, dataIndex ) {
							if (row.firstChild != undefined){
			   	   				row.onclick = function(){
			   	   					var tbl = document.getElementById("{{ field.id }}");
			   	   					var chkSeleciona = this.firstChild.firstChild;
			   	   					tbl.dataset.id = chkSeleciona.value;
			   	   					chkSeleciona.checked = true;
			   	   				};
							}
						}
		);
	</script>
	
{% endif %}