<div id="panel-south-north">
	<div id="panel-south">
		<div id="panel-south-north_container">
			<div id="panel-south-north">
				<div id="panel-south-north_a"></div>
				<div id="panel-south-north_c">
					<ul style="list-style-type: none; text-align: right;">
						<p class="pull-right"><a href="#">Voltar ao Topo</a></p>
					</ul>
				</div>
				<div id="panel-south-north_b">
					<ul style="list-style-type: none; text-align: center;">
						<li>Universidade de Brasília - Centro de Informática</li>
						<li>Copyright 2013 <a href="http://www.cpd.unb.br/" target="_blank" >CPD/UnB</a> - Todos os direitos reservados.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
