{% extends "fpc_base.html" %}

{% block barra_nav %}

    <ul id="barra_nav" class="nav navbar-nav">
      <li class="active"><a href="/eliot/index.html">Autenticar</a></li>
    </ul>

{% endblock %}


{% block conteudo %}

      <form id="f_login" class="form-signin form-inline">
      	{% csrf_token %}
        <h3 style="text-align:center">Autenticação</h3>
	 	<div class="form-group">
	        <label class="control-label" for="f_username" style="font-weight: bold;">Usuário</label>
	        <input id="f_username" data-field="username" class="form-control" maxlength="30" style="width:200px;;" data-type="text" type="text">
		</div> 
	 	<span class="fpc_nl"></span>
	 	<div class="form-group">
	        <label class="control-label" for="f_password" style="font-weight: bold;">Senha</label>
		    <input id="f_password" data-field="password" class="form-control" maxlength="10" style="width:200px;;" data-type="text" type="password">
		</div> 
	 	<span class="fpc_nl"></span>
        <button id="b_entrar" class="btn btn-default btn-xs" type="button" style="margin-top: 10px; width:120px" onclick="fpc.login()">Entrar</button>
      </form>
        
{% endblock %}
