{% extends "fpc_base.html" %}

{% block barra_nav %}

    <ul id="barra_nav" class="nav navbar-nav">
      <li><a href="/eliot/index.html">Home</a></li>
      <li class="active"><a href="/eliot/sobre.html">Sobre</a></li>
    </ul>

{% endblock %}


{% block conteudo %}

	<div class="jumbotron">
        <h1>Mestrado em Computação Aplicada</h1>
        <br><br>
        <p class="lead">Projeto desenvolvido para o projeto final da monografia
        	<strong>"Uma abordagem para o desenvolvimento de uma plataforma orientada a serviço independente de
			linguagem de programação no CPD/UnB"</strong>
        	<br><br><br>
        	<b>Aluno: </b>Everton de Vargas Agilar<br>
        	<b>Orientador: </b>Prof. Dr. Rodrigo Bonifacio de Almeida<br>
        </p>
    </div>
              
{% endblock %}