{% load fpc_tags %} 
<div id="f_header_form">
	{% include "fpc_breadcrumb.html" %}
	{% block f_botoes %}
	<div id="f_botoes" style="height:32px">
		<div id="barra_botao" data-ts="{{ ts.id }}" data-perm="{{ form.perm }}">
	 		<button id="btn_pesquisar" type="button" class="btn btn-default btn-xs" onclick="fpc.pesquisar('{{ ts.id }}', false)" >
	 			<i class="glyphicon glyphicon-search"></i>Pesquisar
	 		</button>
	 		<button id="btn_novo" type="button" class="btn btn-default btn-xs" onclick="fpc.novo('{{ ts.id }}', true)" > 
	 			<i class="glyphicon glyphicon-plus"></i>Novo 
	 		</button>
	 		<button id="btn_editar" style="display:none" type="button" class="btn btn-default btn-xs" onclick="fpc.editar()" >
	 			<i class="glyphicon glyphicon-pencil"></i>Editar 
	 		</button>
	 		<button id="btn_visualizar" style="display:none" type="button" class="btn btn-default btn-xs" onclick="fpc.editar()" >
	 			<i class="glyphicon glyphicon-list-alt"></i>Visualizar 
	 		</button>
	 		<button id="btn_salvar" style="display:none" type="button" class="btn btn-default btn-xs" onclick="fpc.salvar()">
	 			<i class="glyphicon glyphicon-floppy-disk"></i>Salvar
	 		</button>
	 		<button id="btn_cancelar" style="display:none" type="button" class="btn btn-default btn-xs">
	 			<i class="glyphicon glyphicon-remove"></i>Cancelar
	 		</button>
	 		<button id="btn_excluir" class="visible-lg-inline visible-md-inline visible-sm-inline btn btn-default btn-xs" style="display:none" type="button">
	 			<i class="glyphicon glyphicon-trash"></i>Excluir 
	 		</button>
	 		<span>&nbsp;&nbsp;</span>
		    <div id="btn_mais" class="btn-group" style="top:6px">
			  <button type="button" data-toggle="dropdown" class="btn btn-default btn-xs">
			    <i class="glyphicon glyphicon-th"></i>Mais... <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			  	  <li class="visible-xs-inline"><a href="#"><i class="glyphicon glyphicon-trash"></i>Excluir</a></li>
			  	  <li class="divider visible-xs-inline"></li>
			  	  <li><a href="#"><i class="glyphicon glyphicon-export"></i> Exportar cadastro</a></li>
				  <li><a href="#"><i class="glyphicon glyphicon-send"></i> Duplicar cadastro</a></li>
			  </ul>
		    </div>
		</div>
		<div id="f_botoes_esq"  style="float: right;">
			<button id="btn_nova_pesquisa" style="display:none;" type="button" class="btn btn-default btn-xs" onclick="fpc.novaPesquisa()">
				<i class="glyphicon glyphicon-chevron-left"></i>Voltar
			</button>
			<button id="btn_volta_lista" style="display:none;" type="button" class="btn btn-default btn-xs" onclick="fpc.voltarParaLista()">
				<i class="glyphicon glyphicon-chevron-left"></i>Voltar
			</button>
		</div>
	</div>
	{% endblock %}
</div>
<hr id="sep_breadcrumb" />
<div id="alerta" style="display:none; min-height: 35px">
	<span id="alerta_text" /></span>
</div>
{% block f_state %}
<div id="f_state" data-model="{{ form.name }}" 
     data-service-url="{{ service_url }}" 
     data-id="" 
     data-jsclass="{{ form.js_class }}" 
     data-ts="{{ ts.id }}" 
     data-perm="{{ form.perm }}"
     data-jsclass-base={{form_base}}></div>
{% endblock %}
{% block f_content_form %}
<form id="f_form" data-model="{{ form.name }}" data-id="" data-jsclass="{{ form.js_class }}">
	{% block f_header_form %}{% endblock %}
	{% include "fpc_layout.html" %}
</form>	
{% endblock %}